[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/eigenrand"]
	path = external/eigenrand
	url = https://github.com/bab2min/EigenRand.git
